body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  text-transform: lowercase;
  cursor: default;
  color: #4e5a65;
}

#map {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px !important;
  padding: 0 40px !important;
  background-color: #90A4AE !important; /* blueGrey300 */
}

.search-bar {
  height: 40px;
  width: 100%;
  border: #000 1px solid;
  border-radius: 10px;
  z-index: 2;
}

.filters {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  height: 160px;
  padding: 24px;
  z-index: 1;
  background-color: #B0BEC5; /* blueGrey200 */
}

/* Medium and down */
@media only screen and (max-width: 991px) {
  .filters {
    padding: 8px;
  }
}
