body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  text-transform: lowercase;
  cursor: default;
  color: #4e5a65;
}

#map {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.app-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 64px !important;
  padding: 0 40px !important;
  background-color: #90A4AE !important; /* blueGrey300 */
}

.filter h1 {
  text-align: center;
}

.search-bar {
  height: 40px;
  width: 100%;
  border: #000 1px solid;
  border-radius: 10px;
  z-index: 2;
}

.search-text-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.search-text-delete {
  margin-left: -28px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.search-text-delete:hover {
  cursor: default;
}

.filters {
  position: absolute;
  top: 64px;
  right: 0;
  height: 120px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  background-color: #90A4AE; /* blueGrey300 */
  opacity: 0.95;
}

.coffee-shop .header {
  display: flex;
  align-items: flex-end;
}

.coffee-shop .header a {
  text-decoration: none;
  color: #455A64; /* blueGrey700 */
  transition: color 0.5s ease;
}

.coffee-shop .header a:hover {
  color: #90A4AE; /* blueGrey300 */
}

.coffee-shop .header div {
  margin: auto 0 auto auto;
}

.coffee-shop img {
  object-fit: cover;
  width: 250px;
  height: 250px;
}

.coffee-shop .info {
  display: flex;
  justify-content: center;
}

.coffee-shop .info .metadata {
  margin: 16px 0;
}

.coffee-shop .info .metadata > div {
  margin-bottom: 16px;
}

.coffee-shop .info .checkmark {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.coffee-shop .info .checkmark > div {
  margin-left: 8px;
}

.coffee-shop .info .hours {
  margin-left: 108px;
}

.coffee-shop .info .hours h3 {
  margin: 16px 0;
  text-align: center;
}

/* Medium and down */
@media only screen and (max-width: 991px) {
  .app-bar h1 {
    font-size: 18px;
  }

  .search-text-delete {
    margin-left: 4px;
  }

  .filters {
    padding: 8px;
  }

  .coffee-shop img {
    object-fit: cover;
    width: 95px;
    height: 95px;
    margin: auto;
  }

  .coffee-shop .info .metadata {
    font-size: 14px;
  }

  .coffee-shop .info .hours h3 {
    font-size: 16px;
  }

  .coffee-shop .info .hours {
    margin-left: 20px;
  }

  .coffee-shop .info > div {
    font-size: 12px;
  }
}
